# Node modules
/frontend/node_modules/
/backend/node_modules/

# Build output
/frontend/dist/
/backend/dist/

# Logs
*.log

# OS files
.DS_Store

# npm package lock files
package-lock.json

# Docker
docker-compose.override.yml
**/Dockerfile.*
**/.dockerignore
**/tmp
**/logs
**/build

#backend
backend/src/dataAccess/prisma/generated/