@for $i from 1 through 10{
    .flex-#{$i}{
        flex: $i;
    }
}

.hidden{
    display:none;
}
#zoom{
    height: 100%;
    width: 100%;
}
.btn-close{
    background-image: url('~Img/icon/close.png');
    height: 19px;
    width: 18px;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}
.btn-close:hover{
    background-image: url('~Img/icon/close-hover.png');
}
.gtitle{
    font-weight: bold;
    font-size: 0.83rem;
    line-height: 0.83rem;
    color: #542c0f;
}
a{
    color: #542c0f;
}
a:hover{
    color: #542c0f;
}
.valores{
    background-image: url('~Img/island/name1.png');
    position: absolute;
    bottom: -25px;
    padding: 3px 4px;
    background-repeat: repeat no-repeat;
    background-size: contain;
    font-size: 0.85rem;
    min-width: 35px;
    text-align: center;
    line-height: 20px;
}
.valores::after {
    background-image: url('~Img/island/name2.png');
    width: 12px;
    height: 26px;
    content: '';
    position: absolute;
    left: -10px;
    top: 0px;
    background-repeat: repeat no-repeat;
    background-size: cover;
}
.valores::before {
    background-image: url('~Img/island/name3.png');
    width: 12px;
    height: 26px;
    content: '';
    position: absolute;
    right: -10px;
    top: 0px;
    background-repeat: repeat no-repeat;
    background-size: cover;
}

.vue-slider-process {
    background-color: #dead69;
}
.vue-slider-dot-tooltip-inner {
    border-color: #ddad6b;
    background-color: #dcad5d;
}

.btnGeneral{
    background: #eccf8e;
    cursor:pointer;
    user-select: none;
}

.table-row{
    border-bottom: none!important
}
.table-row.is-header{
    background: #e2c897;
}
.table-row.is-header:hover {
    background-color: #e2c897;
}
.table-body .table-row:hover {
    background-color: initial!important;
}
.sort-ascending{
    border-bottom-color: #f5f5dc!important;
}
.table-sort .sort-ascending.activated{
    border-bottom-color: #409eff!important;
}
.sort-descending{
    border-top-color: #f5f5dc!important;
}
.table-sort .sort-descending.activated{
    border-top-color: #409eff!important;
}

.table thead th {
    border-bottom: 2px solid #e5c999;
}
.table td, .table th {
    border-top: 1px solid #e5c999;
}
thead{
    background: #e5c999;
}

tbody tr:hover{
    background: #f2ddbc;
}
