.box{
    padding: 11px;
}
.texto{
    line-height: 1;
    font-weight: 400;
    font: normal 12px Arial,Helvetica,sans-serif;
}
.title{
    line-height: 1;
    font-weight: bold;
    font: normal 12px Arial,Helvetica,sans-serif;
}
.mBorder{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.mDiv,.mDiv2{
    position: fixed;
    background: beige;
    z-index: 100;
    width: 720px;
    margin: auto;
    left: 0;
    right: 0;
    touch-action: none;
    margin-top: 120px; 
}
.mDiv2{
    width: 230px;
    left: -950px;
}
.mBody{
    overflow-y: auto;
    height: calc(100% - 26px);
    border-image: url('~Img/icon/bg_maincontentbox_left.png') 0% 50%;
    border-style: solid;
    border-width: 0px 3px;
    max-height: 75vh;
}
.mHeader,.mHeader2{
    cursor: grab;
    height: 26px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('~Img/icon/modal_header.jpg');
    touch-action: none;
    user-select: none;
}
.mFooter{
    background-image: url('~Img/icon/bg_maincontentbox_footer.png');
    height:4px;
}
.btn-close{
    background-image: url('~Img/icon/close.png');
    height: 19px;
    width: 18px;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}
.btn-close:hover{
    background-image: url('~Img/icon/close-hover.png');
}
.mBody::-webkit-scrollbar-track
{
    background-image: url('~Img/icon/scroll_bg.png');
}
.mBody::-webkit-scrollbar
{
    width: 20px;
    background-color: #F5F5F5;
}
.mBody::-webkit-scrollbar-thumb
{
    background-image: url('~Img/icon/scroll_mid.png');
}