.build{
    height: 130px;
    background-repeat: no-repeat!important;
    background-position-x: center!important;
    background-size: contain!important;
}
#buildingUpgrade .actions .action_btn {
    display: block;
    padding-top: 44px;
    text-decoration: none;
    min-width: 58px;
    max-width: 66px;
    overflow: hidden;
}
#buildingUpgrade .actions .downgrade .action_btn {
    background: url(/assets/img/icon/btn_downgrade.jpg) no-repeat center 8px;
}
#buildingUpgrade .actions .upgrade .action_btn {
    background: url(/assets/img/icon/btn_upgrade.jpg) no-repeat center 8px;
}
#buildingUpgrade li {
    float: left;
    margin: 0 0px 0px 4px;
    list-style: none;
}
#buildingUpgrade h4 {
    clear: both;
    display: block;
    margin: 0px 2px;
    text-align: center;
    font-size:1em;
    line-height: 22px;
}
.btnLevel{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    line-height: 27px;
}
.upgrade, .downgrade{cursor: pointer;}