.box{
    padding: 14px;
}
.texto{
    line-height: 1;
    font-weight: 400;
    font: normal 12px Arial,Helvetica,sans-serif;
}
.title{
    line-height: 1;
    font-weight: bold;
    font: normal 12px Arial,Helvetica,sans-serif;
}