.unit{
    background-image: url('~Img/unit/units_mini.png');
    width: 36px;
    height: 35px;
}
.unit_1{
    background-position: -180px -36px;
}
.unit_2{
    background-position: 1px -36px;
}
.unit_3{
    background-position: -107px -36px;
}
.unit_4{
    background-position: -72px -36px;
}
.unit_5{
    background-position: -35px -36px;
}
.unit_6{
    background-position: -143px -36px;
}
