body {
    margin: 0px;
}

.scroll-container::-webkit-scrollbar {
    display: none;
  }
  
.cityContainer {
    cursor: all-scroll;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.city {
    width: 2460px;
    height: 1794px;
}


